// Colors
$text-color:                        #333 !default;

// Font
$font-size-base:                    1rem !default;

// Columns
$grid-columns:                      12 !default;

// Spaces
$space-xs:                          0.4rem !default;
$space-sm:                          0.8rem !default;
$space-md:                          1.6rem !default;
$space-lg:                          3.2rem !default;
$space-xl:                          6.4rem !default;

// Container widths
$screen-xxxl:                       1600px !default;
$screen-xxl:                        1440px !default;
$screen-xl:                         1240px !default;
$screen-lg:                         1024px !default;
$screen-md:                         768px !default;
$screen-sm:                         480px !default;
$screen-xs:                         414px !default;
$screen-xxs:                        375px !default;
$screen-xxxs:                       320px !default;
