// Spaces
$space-xs:                          0.4rem;
$space-sm:                          0.8rem;
$space-md:                          1.6rem;
$space-lg:                          3.2rem;
$space-xl:                          6.4rem;

// Container widths
$screen-xl:                         1280px;
$screen-lg:                         1024px;
$screen-md:                         768px;
$screen-sm:                         480px;
$screen-xs:                         414px;
$screen-xxs:                        375px;
$screen-xxxs:                       320px;