@import "global-variables";

$spacings:
  "xs"
  $space-xs,
  "sm"
  $space-sm,
  "md"
  $space-md,
  "lg"
  $space-lg,
  "xl"
  $space-xl;

$screens:
  "xxxs"
  $screen-xxxs,
  "xxs"
  $screen-xxs,
  "xs"
  $screen-xs,
  "sm"
  $screen-sm,
  "md"
  $screen-md,
  "lg"
  $screen-lg,
  "xl"
  $screen-xl,
  "xxl"
  $screen-xxl,
  "xxxl"
  $screen-xxxl;

// --- Colors ---

.text-color {
  color: $text-color !important;
}

// --- Font Size ---

.fs-xs {
  font-size: $font-size-base * .8 !important;
}

.fs-sm {
  font-size: $font-size-base * .9 !important;
}

.fs-md {
  font-size: $font-size-base !important;
}

.fs-lg {
  font-size: $font-size-base * 1.2 !important;
}

.fs-xl {
  font-size: $font-size-base * 1.4 !important;
}

.fs-xxl {
  font-size: $font-size-base * 1.8 !important;
}

// --- Width / 12 grid ---

.w-1 {
  width: percentage(1 / $grid-columns);
}

.w-2 {
  width: percentage(2 / $grid-columns);
}

.w-3 {
  width: percentage(3 / $grid-columns);
}

.w-4 {
  width: percentage(4 / $grid-columns);
}

.w-5 {
  width: percentage(5 / $grid-columns);
}

.w-6 {
  width: percentage(6 / $grid-columns);
}

.w-7 {
  width: percentage(7 / $grid-columns);
}

.w-8 {
  width: percentage(8 / $grid-columns);
}

.w-9 {
  width: percentage(9 / $grid-columns);
}

.w-10 {
  width: percentage(10 / $grid-columns);
}

.w-11 {
  width: percentage(11 / $grid-columns);
}

.w-12 {
  width: 100%;
}

// --- Min widths ---

.mw-0 {
  min-width: 0 !important;
}

// --- Max widths ---

@each $name, $size in $screens {
  .mw-#{$name} {
    max-width: $size !important;
  }
}

// --- Opacity ---

.o1 {
  opacity: 0.1 !important;
}

.o2 {
  opacity: 0.2 !important;
}

.o3 {
  opacity: 0.3 !important;
}

.o4 {
  opacity: 0.4 !important;
}

.o5 {
  opacity: 0.5 !important;
}

.o6 {
  opacity: 0.6 !important;
}

.o7 {
  opacity: 0.7 !important;
}

.o8 {
  opacity: 0.8 !important;
}

.o9 {
  opacity: 0.9 !important;
}

.o10 {
  opacity: 1 !important;
}

// --- Margins ---

@each $name, $size in $spacings {
  .m-#{$name} {
    margin: $size !important;
  }
}

@each $name, $size in $spacings {
  .ml-#{$name} {
    margin-left: $size !important;
  }
}

@each $name, $size in $spacings {
  .mr-#{$name} {
    margin-right: $size !important;
  }
}

@each $name, $size in $spacings {
  .mt-#{$name} {
    margin-top: $size !important;
  }
}

@each $name, $size in $spacings {
  .mb-#{$name} {
    margin-bottom: $size !important;
  }
}

// --- Paddings ---

@each $name, $size in $spacings {
  .p-#{$name} {
    padding: $size !important;
  }
}

@each $name, $size in $spacings {
  .pl-#{$name} {
    padding-left: $size !important;
  }
}

@each $name, $size in $spacings {
  .pr-#{$name} {
    padding-right: $size !important;
  }
}

@each $name, $size in $spacings {
  .pt-#{$name} {
    padding-top: $size !important;
  }
}

@each $name, $size in $spacings {
  .pb-#{$name} {
    padding-bottom: $size !important;
  }
}

// --- Clears ---

.cmt {
  margin-top: 0 !important;
}

.cmr {
  margin-right: 0 !important;
}

.cmb {
  margin-bottom: 0 !important;
}

.cml {
  margin-left: 0 !important;
}

.cm {
  margin: 0 !important;
}

.cpt {
  padding-top: 0 !important;
}

.cpr {
  padding-right: 0 !important;
}

.cpb {
  padding-bottom: 0 !important;
}

.cpl {
  padding-left: 0 !important;
}

.cp {
  padding: 0 !important;
}

// --- Flexbox ---

.flex-1 {
  flex: 1;
}

// --- No scroll ---

.no-scroll {
  overflow: hidden !important;
}

.no-scroll-x {
  overflow-x: hidden !important;
}

.no-scroll-y {
  overflow-y: hidden !important;
}
